.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-container-left span {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}